@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}



.mobile-menu {
  background-color: #332c2c;
  padding: 1rem 0;
  top: 50%;
  left: 50%;
  position: absolute;
  border: 1px solid black;
  width: 80%;
}

.mobile-menu .nav-link {
  color: #fff;
  font-weight: bold;
}

.mobile-menu .nav-link:hover {
  background-color: #2a5576;
}

.tall-section {
  background-color: gray;
}

.foodName {
  text-align: center;
}

.tallSectionText {
  font-style: italic;
  text-align: center;
}

.rowes {
  margin: 10px;
}